<div class = container>
    <h2>You're Thinking About Drinking: {{drink.label}}</h2>
    <div class="drink-container-show">
        <img src={{drink.img}} alt={{drink.label}} width='200'>
        <br>
        <h2>Price:</h2>
            <p id="cost">${{drink.price}} a bottle</p><br>
        <h3 id="quantity">
            {{drink.size}} mL
        </h3>
        <br>
            <a href="/{{drink._id}}/edit"><button type="button" class="btn btn-success">Switch Up!</button></a>
        </div>
    <form action="/{{drink._id}}?_method=DELETE" method="POST">
        <button type="button" class="btn btn-danger">Delete Your Drink</button></a>
    </form>
    <a href="/"><button type="button" class="btn btn-warning">Go Back</button></a>
</div>